    body {
        font-family: 'Roboto', sans-serif;
    }
    
    header {
        width: 100%;
        height: 69px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0px;
        background-color: #EC362D;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    h1 {
        font-size: 37px;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        font-style: normal;
    }
    /* Início referência HTML: lista-quizz */
    
    .paginaum {
        max-width: 100%;
        /* display: none; */
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding-top: calc(69px + 31px);
    }
    
    .paginaum .criarprimeiroquizz {
        width: 340px;
        height: 181px;
        border-radius: 5px;
        border: 1px dashed #D5D5D5;
        background: #FAFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .paginaum p {
        width: 70%;
        height: 75px;
        font-size: 20px;
        line-height: 23px;
        font-style: normal;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #B9B9B9;
    }
    
    .paginaum .criarquizz {
        width: 151px;
        height: 40px;
        border-radius: 50px;
        font-size: 21px;
        line-height: 25px;
        font-style: normal;
        font-weight: normal;
        background: #FAFAFA;
        border: 1px dashed #EC362D;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #EC362D;
    }
    
    .paginaum .todososquizzes {
        width: 340px;
        height: auto;
        padding-top: 35px;
        padding-bottom: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .paginaum h2 {
        height: 23px;
        width: auto;
        padding-bottom: 12px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        font-style: normal;
        text-align: center;
    }
    
    .paginaum .quizzes {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .paginaum article {
        height: 181px;
        width: 340px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(../img/pandavermelho.jpg);
        background-size: 100%;
        object-fit: cover;
        position: relative;
        margin-bottom: 12px;
    }
    
    .paginaum h3 {
        max-width: 80%;
        height: auto;
        font-size: 19px;
        line-height: 22px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        overflow: hidden;
    }
    /*--------------SEGUNDO ACESSO-------------------*/
    
    .paginaum .meus-quizzes {
        width: 100%;
        height: auto;
        /* display: flex; */
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .paginaum .quizzes-criados {
        max-width: 340px;
        height: auto;
        justify-content: flex-start;
        overflow-x: scroll;
        display: inline-flex;
    }
    
    .paginaum .um-quizz-criado {
        min-width: 340px;
        height: 181px;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
        background-image: url("../img/pandavermelho.jpg");
        background-size: 100%;
        object-fit: cover;
        position: relative;
        margin-right: 12px;
    }
    
    .paginaum .novo-quizz {
        display: flex;
        width: 340px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .paginaum h2 {
        height: 100%;
        width: auto;
        padding-bottom: 12px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        font-style: normal;
        text-align: left;
    }
    
    .paginaum ion-icon {
        color: white;
        background-color: red;
        border-radius: 50%;
        font-size: 31px;
        margin-bottom: 8px;
    }
    /* Fim referência HTML: lista-quizz */
    /* Início referência HTML: pagina-quizz */
    
    .pagina-quizz {
        background: #FAFAFA;
        margin-top: 69px;
        height: 100%;
        width: 100%;
        display: block;
        display: none;
    }
    
    .pagina-quizz .titulo-quizz {
        width: 100%;
        height: 142px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
        background-image: url("../img/pandavermelho.jpg");
        background-size: 100%;
        object-fit: cover;
    }
    
    .pagina-quizz .titulo-quizz h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .pagina-quizz .perguntas {
        display: flex;
        flex-direction: column;
        background-color: #FAFAFA;
    }
    
    .pagina-quizz .perguntas .pergunta {
        width: 100%;
        height: auto;
        left: 0px;
        margin: 24px auto 4px auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pagina-quizz .perguntas .titulo-pergunta {
        width: 90%;
        height: 89px;
        margin: 18px auto 12px;
        background: #434CA0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .pagina-quizz .perguntas .titulo-pergunta h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
    .pagina-quizz .perguntas .bloco-respostas {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .pagina-quizz .perguntas .bloco-respostas .resposta {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .pagina-quizz .perguntas .bloco-respostas .resposta img {
        width: 100%;
        height: 113px;
    }
    
    .pagina-quizz .perguntas .bloco-respostas .resposta span {
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        margin-top: 5px;
        margin-bottom: 12px;
        color: #000000;
    }
    
    .pagina-quizz .resultado {
        width: 100%;
        height: auto;
        margin-top: 18px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .pagina-quizz .resultado .titulo-resultado {
        width: 90%;
        height: 99px;
        margin: 0px auto 9px;
        background: #EC362D;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .pagina-quizz .resultado .titulo-resultado h3 {
        width: 308px;
        margin: 22px 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
    .pagina-quizz .resultado .conteudo-reultado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .pagina-quizz .resultado .conteudo-reultado img {
        margin-bottom: 9px;
        width: 90%;
        height: auto;
    }
    
    .pagina-quizz .resultado .conteudo-reultado span {
        width: 90%;
        height: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        color: #484848;
        text-align: left;
    }
    
    .pagina-quizz button {
        width: 220.32px;
        height: 44px;
        border-radius: 15px;
        border-color: transparent;
    }
    
    .pagina-quizz .button p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .pagina-quizz .reiniciar-quizz {
        margin: 34px auto 0px;
        background: #EC362D;
        color: #FFF5F4;
    }
    
    .pagina-quizz .voltar-inicio {
        margin: 8px auto 66px;
        background: #FAFAFA;
        color: #818181;
        ;
    }
    /* Fim referência HTML: pagina-quizz */
    /* Início referência HTML: cria-quizz */
    
    .cria-quizz main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAFAFA;
    }
    
    .cria-quizz h1 {
        color: black;
        padding-top: calc(69px + 39px);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 29px;
    }
    
    .cria-quizz input {
        height: 46px;
        width: 90%;
        margin-bottom: 9px;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 14px;
    }
    
    .cria-quizz button {
        height: auto;
        width: 87%;
        background: #EC362D;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        border: none;
        padding-bottom: 17px;
        padding-top: 17px;
    }
    
    .cria-quizz .vamos-comecar {
        display: none;
    }
    
    .vamos-comecar .primeiro-forms {
        width: 100%;
        height: 256px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        margin-bottom: 29px;
    }
    
    .vamos-comecar .quantidade-niveis {
        margin-bottom: 0px;
    }
    
    .cria-quizz h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000000;
    }
    
    .cria-quizz .cria-perguntas {
        display: none;
        /* display: flex; */
    }
    
    .cria-quizz .cria-perguntas .cabecalho-pergunta,
    .resposta-correta,
    .resposta {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cria-quizz .cria-perguntas .pergunta {
        width: 100%;
        height: 825px;
        margin: 0px auto 24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .cria-quizz .cria-perguntas .pergunta h2 {
        margin: 14px auto 12px 17px;
        text-align: left;
    }
    
    .cria-quizz .cria-perguntas .pergunta h2:first-child {
        margin-top: 27px;
    }
    
    .cria-quizz .cria-perguntas .pergunta input {
        margin-bottom: 14px;
    }
    
    .cria-quizz .cria-perguntas .pergunta input:last-child {
        margin-bottom: 0px;
    }
    
    .cria-quizz .cria-perguntas .nova-pergunta {
        width: 100%;
        height: 74px;
        margin-bottom: 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .cria-quizz .cria-perguntas .nova-pergunta h2 {
        margin: 27px auto 24px 17px;
    }
    
    .cria-quizz .cria-perguntas .nova-pergunta img {
        margin: 26px 17px 25px auto;
    }
    
    .cria-quizz .cria-perguntas button {
        margin: 24px auto 61px;
    }
    
    .cria-quizz .cria-niveis {
        display: none;
        /* display: flex; */
    }
    
    .cria-quizz .cria-niveis .nivel {
        width: 100%;
        height: 439px;
        margin: 0px auto 27px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .cria-quizz .cria-niveis .nivel h2 {
        margin: 27px auto 24px 17px;
    }
    
    .cria-quizz .cria-niveis .nivel .descricao-nivel {
        width: 90%;
        height: 177px;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        border-radius: 5px;
        font: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 14px;
    }
    
    .cria-quizz .cria-niveis .novo-nivel {
        width: 100%;
        height: 74px;
        margin-bottom: 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .cria-quizz .cria-niveis .novo-nivel h2 {
        margin: 27px auto 24px 17px;
    }
    
    .cria-quizz .cria-niveis .novo-nivel img {
        margin: 26px 17px 25px auto;
    }
    
    .cria-quizz .cria-niveis button {
        margin: 28px auto 136px;
    }
    
    .cria-quizz .sucesso-quizz {
        align-items: center;
        display: none;
        /* display: block; */
    }
    
    .cria-quizz .sucesso-quizz figure {
        width: 90%;
        height: 181px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(../img/pandavermelho.jpg);
        background-size: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .cria-quizz .sucesso-quizz .acessar-quizz {
        margin: 24px auto 0px;
        background: #EC362D;
        color: #FFF5F4;
    }
    
    .cria-quizz .sucesso-quizz .voltar-inicio {
        margin: 9px auto 356px;
        background: #FAFAFA;
        color: #818181;
        ;
    }
    /***** Aqui dentro ia vai tudo de cria-quizz *****/
    /* Fim referência HTML: cria-quizz */