.Flashcard .painel {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 25px 0px;
  padding: 23px 15px;
  cursor: pointer;
  font-family: 'Recursive', cursive;
}

.Flashcard .painel.fechado {
  max-height: 65px;
}

.Flashcard .painel.aberto {
  min-height: 130px;
  display: block;
  background-color: var(--cor-fundo-card);
  position: relative;
  cursor: default;
}

.Flashcard .painel.aberto .icone {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer
}


.Flashcard .botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Flashcard .botoes * {
  color: white;
  width: 85px;
  height: 40px;
  border-radius: 4px;
  padding: 2px 10px;
  cursor: pointer;
  border: none;
  font-family: 'Recursive', cursive;
  font-size: 12px;
}

.Flashcard .botoes .erro {
  background-color: var(--cor-nao-lembrei);
}

.Flashcard .botoes .duvida {
  background-color: var(--cor-quase-nao-lembrei);
}

.Flashcard .botoes .acerto {
  background-color: var(--cor-zap);
}

.Flashcard .finalizado {
  cursor: default;
}

.Flashcard .finalizado p {
  text-decoration: line-through;
}

.Flashcard .finalizado .erro {
  color: var(--cor-nao-lembrei);
}

.Flashcard .finalizado .duvida {
  color: var(--cor-quase-nao-lembrei);
}

.Flashcard .finalizado .acerto {
  color: var(--cor-zap);
}